@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollBar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.testCss {
  display: "flex";
  align-items: "center";
  justify-items: "center";
}
